@using Question1.ViewModels
@model EditInfoViewModel

@{
    ViewData["Title"] = "Info Page";
}

<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 mt-5">
        <div class="card p-4">
            <h2 class="text-center mb-4">Edit Information</h2>
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success" role="alert">
                    @TempData["SuccessMessage"]
                </div>
            }
            <form asp-action="InfoPage" method="post">
                <input type="hidden" asp-for="PersonId"/>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-2">
                    <label asp-for="Name" class="control-label">Name</label>
                    <input asp-for="Name" class="form-control" readonly/>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="Surname" class="control-label">Surname</label>
                    <input asp-for="Surname" class="form-control" readonly/>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="TellNo" class="control-label">Tell No</label>
                    <input asp-for="TellNo" class="form-control" />
                    <span asp-validation-for="TellNo" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="CellNo" class="control-label">Cell No</label>
                    <input asp-for="CellNo" class="form-control" />
                    <span asp-validation-for="CellNo" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="AddressLine1" class="control-label">Address Line 1</label>
                    <input asp-for="AddressLine1" class="form-control" />
                    <span asp-validation-for="AddressLine1" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="AddressLine2" class="control-label">Address Line 2</label>
                    <input asp-for="AddressLine2" class="form-control" />
                    <span asp-validation-for="AddressLine2" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="AddressLine3" class="control-label">Address Line 3</label>
                    <input asp-for="AddressLine3" class="form-control" />
                    <span asp-validation-for="AddressLine3" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="AddressCode" class="control-label">Address Code</label>
                    <input asp-for="AddressCode" class="form-control" />
                    <span asp-validation-for="AddressCode" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="PostalAddress1" class="control-label">Postal Address 1</label>
                    <input asp-for="PostalAddress1" class="form-control" />
                    <span asp-validation-for="PostalAddress1" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="PostalAddress2" class="control-label">Postal Address 2</label>
                    <input asp-for="PostalAddress2" class="form-control" />
                    <span asp-validation-for="PostalAddress2" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="PostalCode" class="control-label">Postal Code</label>
                    <input asp-for="PostalCode" class="form-control" />
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>
                <div class="form-group mt-3 row justify-content-between">
                    <div class="col-auto">
                        <button class="btn btn-outline-success" type="submit">Update Info</button>
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-outline-primary" asp-action="ChangePassword" asp-controller="Home">Change Password</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

